/* remove browser default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* branding */
:root {
    --primary-color: rgb(32,85,107);
    --primary-color-transp: rgba(32,85,107,0.9);
    --secondary-color: rgb(195,193,186);
    --black: #000;
    --white: #ffffff;
    --accent-color: rgb(178,199,198);
    --heading-font: "Playfair Display", Helvetica, serif;
    --paragraph-font: Quicksand, Arial, serif;

}

body {
    font-family: var(--paragraph-font);
}

header {
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
}

header a {
    text-decoration: none;
    color: var(--white);
}

.high-scores {
    flex: 1;
}

.time {
    flex: 1;
    text-align: right;
}

.container {
    border: solid red 2px;
}

.title, .question {
    border: solid green 2px;
    margin: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
}

.question{
    border: solid orange 2px;
    text-align: left;
    margin: 0;
    font-size: 24px;
}

p {
    line-height: 1.2em;
}

.button {
    background-color: var(--secondary-color);
    width: 35%;
    padding: 7px 5px;
    border-radius: 4px;
    margin: 10px 0;
}

.button:hover {
    background-color: var(--primary-color);
    color: white;
}

.multiple-choice-list {
    border: solid blue 2px;
}

ul {
    list-style: none;
}

#feedback {
    font-size: 24px;
    font-style: italic;
    letter-spacing: 0.25em;
    font-weight: lighter;
    color: var(--accent-color);
    border-top: 1px var(--accent-color) solid;
}
